
      <strong>¿A qué se refiere la descentralización de servicios web?.</strong>
      <p>
          Se refiere a que un servicio web se puede mostrar en cualquier lugar, 
          lo que contribuye a fallos en cuanto a la disponibilidad, cuando un servidor está caído.
      </p>
      <strong>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</strong>
      <p>
          Un error en el servidor primario puede ser detectado al crear una deteccion automatica
          y el tráfico será enviado automáticamente a un           servidor de copia de seguridad.
      </p>
      
      
            <li>
                
       </ul>
       <?php die(); ?>
    </body>
  </html>