
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 100;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 

li li:hover {
  color: blue;

}

h1 {
    font-size: 30px;
    line-height: 35px;
}


body {
background: gray;
}


table { 
color: black;
font-family: Helvetica;
width: 650px; 

}



th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */


footer {
height: 200px;
position: relative;
}

p {
  text-align: justify;
}

h{
  font-size: 20px;
  line-height: 25px;
  color:blue;
}