body{
    background-color: gray;  
}


h1 {
    color: yellow;
    font-family:cursive
}

input:hover { 
    color: red; 
}

 img{
     
    border-radius: 130px;

 }

h2{
   
   font-family:sans-serif;
    color: white;
 }

h3{
    
   font-family:inherit;
    color: darkred;
 }

li{
     font-family: cursive;
     font-size: 15px;
}

h4{
    
   font-family:inherit;
    color: darkred;
 }

a{
    
   font-family:inherit;
    color: yellow;
 }
