<br/>
<strong>¿Por qué es una buena práctica separar el modelo del controlador?.</strong>
<p>
    Esta practica nos ayuda para el ensamblaje del proyecto así como para reducir la complejidad y aumentar la reutilidad de nuestro código.
</p>
</div>


</body>
</html>