<!DOCTYPE html>
<html>
  <head>
    <title>Flask</title>
    <script src="static/js/jquery-1.11.3.min.js"> </script>
    <script src="static/js/funciones.js"> </script>

    </script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Flask App</h1>
        <strong><nav>
          <ul class="menu">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>


          </ul>
        </nav></strong>
        <div class="well">
        <input class="btn btn-warning"type='button' id="botoncito" value="Boton controlado con ajax" />

          <script type="text/javascript">
            //$("#botoncito").hide();

            $('#botoncito').click(function(){
            var btn = $(this);
            $.post('http://jsfiddle.net/echo/jsonp/',{delay: 5}).complete(function(){
            btn.prop('disabled', false);
                        });
            btn.prop('disabled', true);

            });



          </script>


        </div>

      </div>
      </header>

      <h1>Preguntas</h1>
      <p>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</p>
      <p>
        Cuando la interfaz de usuario en una página web es compleja, los exploradores no siempre brindan la mejor experiencia y por esto se crearon las "RIA"s, 
        que tiene las características de una aplicación de software de escritorio, y utiliza AJAX para manipular los recursos en línea que necesite la aplicación. 
      </p>
      
      <p>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</p>
      <p>
       Con AJAX se debe considerar la información que se deja a la vista del lado del cliente, pues esta puede ser analizada por cualquier persona y puede
       llegar a utilizar la lógica de la ejecución en su beneficio. Otra situación que se puede presentar con AJAX es que un script puede modificar propiedades
       de su documento desde un directorio diferente al original. Las validaciones de seguridad deben hacerse tanto del lado del cliente como del servidor.
      </p>
      
      <p>¿Qué es JSON?</p>
      <p>
       JSON (JavaScript Object Notation) es un formato de intercambio de datos. Es un lenguaje de texto completamente independiente de cualquier lenguaje 
       de programación y está construído en dos estructuras: como un objeto, o como una lista ordenada de valores. Los valores introducidos en el objeto o 
       arreglo pueden ser de cualquier tipo (string, número, arreglo, etc.).
      </p>
</body>
