<br/><br/><br/><br/><br/>
<strong>¿Qué es ODBC y para qué es útil?</strong>
<p>
    Es el Open Data Base Conectivity y es util para iniciar connexion con la base de datos.
</p>
<strong>¿Qué es SQL Injection?</strong>
<p>
    La inyección directa de comandos SQL es una técnica donde un atacante crea o altera comandos SQL existentes para exponer datos ocultos, sobrescribir los valiosos, o peor aún, ejecutar comandos peligrosos a nivel de sistema en el equipo que hospeda la base de datos. [2]
</p>
<strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong>
<p>
    <ul>
        <li>Nunca se conecte como superusuario o como propietario de la base de datos. Siempre utilice usuarios personalizados con privilegios muy limitados. [2]</li>
        <li>Emplee sentencias preparadas con variables vinculadas. Son proporcionadas por PDO, MySQLi y otras bibliotecas. [2]</li>
        <li>Compruebe si la entrada proporcionada tiene el tipo de datos previsto. PHP tiene un amplio rango de funciones para validar la entrada de datos, desde las más simples, encontradas en Funciones de variables y en Funciones del tipo carácter (p.ej., is_numeric(), ctype_digit() respectivamente), hasta el soporte para Expresiones regulares compatibles con Perl. [2]</li>
        <li>Si la expresión espera una entrada numérica, considere verificar los datos con la función ctype_digit(), o silenciosamente cambie su tipo utilizando settype(), o emplee su representación numérica por medio de sprintf(). [2]</li>
        <li>Si la capa de la base de datos no admite variables vinculadas, entrecomille cada valor no numérico proporcionado por el usuario que sea pasado a la base de datos con la función de escapado de cadenas específica de la base de datos (p.ej. mysql_real_escape_string(), sqlite_escape_string(), etc.). Las funciones genéricas como addslashes() son útiles solamente en un entorno muy específico (p.ej., MySQL en un juego de caracteres monobyte con NO_BACKSLASH_ESCAPES deshabilitada), por lo que es mejor evitarlas. [2]</li>
        <li>Sea como sea, no muestre ninguna información específica de la base de datos, especialmente sobre el esquema. Vea también Notificación de errores y Manejo de errores y funciones de registro. [2]</li>
        <li>Se pueden utilizar procedimientos almacenados y cursores previamente definidos para abstraer el acceso a datos para que los usuarios no tengan acceso directo a las tablas o vistas, aunque que esta solución tiene otros impactos. [2]</li>
    </ul>
</p>
</div>
<div>
    <footer>
        <p>Fuentes: </p>
        <ul>
            <li>
                [1] <a href="https://www.uv.es/jac/guia/gestion/gestion3.htm">https://www.uv.es/jac/guia/gestion/gestion3.htm</a>
            </li>
            <li>
                 [2] <a href="http://php.net/manual/es/security.database.sql-injection.php">http://php.net/manual/es/security.database.sql-injection.php</a>
            </li>
        </ul>
    </footer>
</div>


</body>
</html>